<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>ad-hoc</string>
  <key>compileBitcode</key>
  <false/>
  <key>signingStyle</key>
  <string>manual</string>
  <key>teamID</key>
  <string>YOUR_TEAM_ID_HERE</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.yourcompany.naqlalathath.customer</key>
    <string>Your AdHoc Provisioning Profile Name</string>
  </dict>
</dict>
</plist>
