name: Build iOS IPA (TrollStore)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 'stable'

    - name: Go to admin panel
      run: cd admin_panel

    - name: Create Flutter platforms
      run: |
        cd admin_panel
        flutter create .

    - name: Install dependencies
      run: |
        cd admin_panel
        flutter pub get

    - name: Build iOS (no codesign)
      run: |
        cd admin_panel
        flutter build ios --release --no-codesign

    - name: Create IPA for TrollStore
      run: |
        cd admin_panel
        mkdir Payload
        cp -r build/ios/iphoneos/Runner.app Payload/
        zip -r NaqlAlathath.ipa Payload

    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: NaqlAlathath-IPA
        path: admin_panel/NaqlAlathath.ipa
